*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 800px;
}

ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

li {
  list-style-type: none;
  line-height: 20px;
  display: flex;
  align-items: center;
}

a {
  color: #414a93;
  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 10px;
}

#tab-btn {
  background-color: #476f30;
}

#delete-btn {
  background-color: #c10000;
}

#tab-btn,
#delete-btn {
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  padding: 9px 20px 8px;
  width: 100%;
}

.material-symbols-outlined {
  color: rgb(151, 151, 151);
  margin-left: 10px;
}

.material-symbols-outlined:hover {
  cursor: pointer;
  color: #c10000;
  transition: ease-in-out 0.5s;
}
